"*":
  editor:
    invisibles:
      {}
    softWrap: true
  linter:
    {}
  "exception-reporting":
    userId: "05769e4a-414c-0234-3c4f-848d932dafcd"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-light-ui"
      "atom-dark-syntax"
    ]
    disabledPackages: [
      "metrics"
      "background-tips"
      "archive-view"
      "autocomplete-snippets"
      "bookmarks"
      "keybinding-resolver"
      "language-toml"
      "wrap-guide"
    ]
  "linter-rubocop":
    executablePath: "/Users/edwardloveall/.gem/ruby/2.2.0/bin"
  "one-light-ui":
    {}
  "linter-scss-lint":
    executablePath: "/Users/edwardloveall/.gem/ruby/2.2.0/bin/scss-lint"
  "autocomplete-plus":
    confirmCompletion: "enter"
